html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-login, .form-register {
  max-width: 330px;
  padding: 15px;
}

.form-login .form-floating:focus-within,
.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-login input,
.form-register input {
  margin-bottom: -1px;
}

.form-register input[name="username"],
.form-login input[name="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[name="conf_password"],
.form-login input[name="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
